<div class="row">
  <div class="col-lg-2 col-sm-1"></div>
  <div class="col-xs-12 col-sm-10 col-lg-8">
    <div class="page-header">
      <h2>Profile <small>Team <%= @team.number %> - <%= @team.name %></small></h2>
    </div>


  </div>
  <div class="col-lg-2 col-sm-1"></div>
</div>
