<div class="jumbotron">
  <h1>FRC MultiScout <small>Alpha 1</small></h1>
  <p>
    FRC MultiScout is intended to be a versatile FIRST Robotics Scouting utility, with the
    ability to create, save, and export custom scouting schematics.
  </p>
</div>
