<p>Hello <%= @resource.first_name %>,</p>

<p>This email serves as a notice that your password was changed. If you made this change, you can ignore this email.</p>

<p>However, if you did not change your password, <%= link_to 'reset your password', new_user_password_url %> immediately.</p>
